<a href="https://colab.research.google.com/github/hwangtaemin/Credit-Card-AI/blob/main/xgb_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install optuna
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import optuna
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split,KFold
from sklearn.preprocessing import LabelEncoder

Collecting optuna
  Downloading https://files.pythonhosted.org/packages/2b/21/d13081805e1e1afc71f5bb743ece324c8bd576237c51b899ecb38a717502/optuna-2.7.0-py3-none-any.whl (293kB)
     |████████████████████████████████| 296kB 8.2MB/s
Collecting cliff
  Downloading https://files.pythonhosted.org/packages/a2/d6/7d9acb68a77acd140be7fececb7f2701b2a29d2da9c54184cb8f93509590/cliff-3.7.0-py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 10.6MB/s
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Collecting alembic
  Downloading https://files.pythonhosted.org/packages/eb/bd/c3486fd57a3eec5162a2e32e8f05880c990f0d92b03d268342d2e8fe7032/alembic-1.6.4-py2.py3-none-any.whl (164kB)
     |████████████████████████████████| 174kB 26.5MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.19.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.41.1)
Collecting colorlog
  Downloading https://files.pythonhosted.org/packages/32/e6/e9ddc6fa1104fda718338b341e4b3dc31cd8039ab29e52fc73b508515361/colorlog-5.0.1-py2.py3-none-any.whl
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (20.9)
Collecting cmaes>=0.8.2
  Downloading https://files.pythonhosted.org/packages/01/1f/43b01223a0366171f474320c6e966c39a11587287f098a5f09809b45e05f/cmaes-0.8.2-py3-none-any.whl
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.15)
Collecting pbr!=2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/18/e0/1d4702dd81121d04a477c272d47ee5b6bc970d1a0990b11befa275c55cf2/pbr-5.6.0-py2.py3-none-any.whl (111kB)
     |████████████████████████████████| 112kB 35.1MB/s
Requirement already satisfied: PyYAML>=3.12 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.13)
Requirement already satisfied: pyparsing>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (2.4.7)
Collecting cmd2>=1.0.0
  Downloading https://files.pythonhosted.org/packages/15/8b/15061b32332bb35ea2a2f6263d0f616779d576e82739ec8e7fcf3c94abf5/cmd2-1.5.0-py3-none-any.whl (133kB)
     |████████████████████████████████| 143kB 22.0MB/s
Collecting stevedore>=2.0.1
  Downloading https://files.pythonhosted.org/packages/d4/49/b602307aeac3df3384ff1fcd05da9c0376c622a6c48bb5325f28ab165b57/stevedore-3.3.0-py3-none-any.whl (49kB)
     |████████████████████████████████| 51kB 8.6MB/s
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (2.1.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (2.8.1)
Collecting python-editor>=0.3
  Downloading https://files.pythonhosted.org/packages/c6/d3/201fc3abe391bbae6606e6f1d598c15d367033332bd54352b12f35513717/python_editor-1.0.4-py3-none-any.whl
Collecting Mako
  Downloading https://files.pythonhosted.org/packages/f3/54/dbc07fbb20865d3b78fdb7cf7fa713e2cba4f87f71100074ef2dc9f9d1f7/Mako-1.1.4-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 9.7MB/s
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.0.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.0)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.2.0)
Collecting pyperclip>=1.6
  Downloading https://files.pythonhosted.org/packages/a7/2c/4c64579f847bd5d539803c8b909e54ba087a79d01bb3aba433a95879a6c5/pyperclip-1.8.2.tar.gz
Collecting colorama>=0.3.7
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->alembic->optuna) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy>=1.1.0->optuna) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy>=1.1.0->optuna) (3.7.4.3)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-cp37-none-any.whl size=11107 sha256=0c0ec05f4f6213862188d79e163a3ddf9ab745838a82148a744b7e5e36ccd059
  Stored in directory: /root/.cache/pip/wheels/25/af/b8/3407109267803f4015e1ee2ff23be0c8c19ce4008665931ee1
Successfully built pyperclip
Installing collected packages: pbr, pyperclip, colorama, cmd2, stevedore, cliff, python-editor, Mako, alembic, colorlog, cmaes, optuna
Successfully installed Mako-1.1.4 alembic-1.6.4 cliff-3.7.0 cmaes-0.8.2 cmd2-1.5.0 colorama-0.4.4 colorlog-5.0.1 optuna-2.7.0 pbr-5.6.0 pyperclip-1.8.2 python-editor-1.0.4 stevedore-3.3.0

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train = pd.read_csv('/content/drive/MyDrive/DACON/credit/train.csv')
train = train.drop(['index'], axis=1)

test = pd.read_csv('/content/drive/MyDrive/DACON/credit/test.csv')
test = test.drop(['index'], axis=1)

submit = pd.read_csv('/content/drive/MyDrive/DACON/credit/sample_submission.csv')

## Data 전처리
### occyp_type

In [4]:
def occyptype_pre(data):
  data.loc[data["DAYS_EMPLOYED"] >= 0,'occyp_type'] = "No job"
  data["occyp_type"] = data["occyp_type"].fillna("unknown")
  return

In [5]:
occyptype_pre(train)
occyptype_pre(test)

### 빈도수 적은 data 처리

In [6]:
# 빈도수가 적은 카테고리 확인(1% 기준)
# staff 직군으로 묶기(빈도수가 낮은 집단이 모두 staff -> sales staff로 묶어서 진행해보자)
def find_minority_cats(cat_cols, data_df, composite_category='Sales staff', threshold=0.03):
    """ Find minority categories for each feature column, and create a 
        dictionary that maps those to selected composite category """
    minority_col_dict = {}
    minority_mapping_dict = {}
    
    # find all feature categories with less than 1% proportion
    for feature in cat_cols:
        minority_col_dict[feature] = []
        minority_mapping_dict[feature] = {}
        
        for category, proportion in data_df[feature].value_counts(normalize=True).iteritems():
            if proportion < threshold:
                minority_col_dict[feature].append(category)
                
                # map those minority cats to chosen composite feature
                minority_mapping_dict[feature] = { x : composite_category for x 
                                                  in minority_col_dict[feature]}
                
    return minority_mapping_dict, minority_col_dict

In [7]:
cat_min_mappings, minority_cols = find_minority_cats(["occyp_type"], train)
minority_cols

{'occyp_type': ['Cooking staff',
  'Security staff',
  'Cleaning staff',
  'Private service staff',
  'Low-skill Laborers',
  'Waiters/barmen staff',
  'Secretaries',
  'Realty agents',
  'HR staff',
  'IT staff']}

In [8]:
cat_min_mappings

{'occyp_type': {'Cleaning staff': 'Sales staff',
  'Cooking staff': 'Sales staff',
  'HR staff': 'Sales staff',
  'IT staff': 'Sales staff',
  'Low-skill Laborers': 'Sales staff',
  'Private service staff': 'Sales staff',
  'Realty agents': 'Sales staff',
  'Secretaries': 'Sales staff',
  'Security staff': 'Sales staff',
  'Waiters/barmen staff': 'Sales staff'}}

In [9]:
train["occyp_type"] = train["occyp_type"].replace(cat_min_mappings["occyp_type"])
test["occyp_type"] = test["occyp_type"].replace(cat_min_mappings["occyp_type"])

In [10]:
special_type = ['High skill tech staff','Medicine staff','Accountants']

def specialist(data):
  data.loc[data["occyp_type"] == 'High skill tech staff','occyp_type'] = "specialist"
  data.loc[data["occyp_type"] == 'Medicine staff','occyp_type'] = "specialist"
  data.loc[data["occyp_type"] == 'Accountants','occyp_type'] = "specialist"

  data["occyp_type"] = data["occyp_type"].fillna("unknown")
  return

In [11]:
specialist(train)

In [12]:
specialist(test)

In [13]:
train["occyp_type"].unique()

array(['unknown', 'Laborers', 'Managers', 'Sales staff', 'specialist',
       'Core staff', 'Drivers', 'No job'], dtype=object)

## Data 전처리
### Feature selection

In [14]:
train= train.drop(['child_num', 'FLAG_MOBIL', 'house_type', 'edu_type', 'gender', 'phone', 'email', 'family_type', 'family_size', 'car', 'work_phone'],axis=1)
test= test.drop(['child_num', 'FLAG_MOBIL', 'house_type', 'edu_type', 'gender', 'phone', 'email', 'family_type', 'family_size', 'car', 'work_phone'],axis=1)

In [15]:
train.count()

reality          26457
income_total     26457
income_type      26457
DAYS_BIRTH       26457
DAYS_EMPLOYED    26457
occyp_type       26457
begin_month      26457
credit           26457
dtype: int64

In [17]:
#Binary variables
def binary(data):
  print('Having house reality or not: ')
  data['reality'] = data['reality'].replace(['N','Y'],[0,1])
  print(data['reality'].value_counts())
  print('--------------')

In [18]:
binary(train)

Having house reality or not:
1    17830
0     8627
Name: reality, dtype: int64
--------------

In [19]:
binary(test)

Having house reality or not:
1    6676
0    3324
Name: reality, dtype: int64
--------------

In [20]:
def preprocess(data):
  label_encoder = LabelEncoder()
  data['income_type']=label_encoder.fit_transform(data['income_type'])
  data['occyp_type']=label_encoder.fit_transform(data['occyp_type'])
  return

In [21]:
preprocess(train)
preprocess(test)

In [22]:
train

       reality  income_total  income_type  ...  occyp_type  begin_month  credit
0            0      202500.0            0  ...           7         -6.0     1.0
1            1      247500.0            0  ...           2         -5.0     1.0
2            1      450000.0            4  ...           3        -22.0     2.0
3            1      202500.0            0  ...           5        -37.0     0.0
4            1      157500.0            2  ...           3        -26.0     2.0
...        ...           ...          ...  ...         ...          ...     ...
26452        0      225000.0            2  ...           0         -2.0     1.0
26453        1      180000.0            4  ...           7        -47.0     2.0
26454        0      292500.0            4  ...           0        -25.0     2.0
26455        1      171000.0            4  ...           2        -59.0     2.0
26456        0       81000.0            4  ...           5         -9.0     2.0

[26457 rows x 8 columns]

### Normalization

In [23]:
continuos_variable = ['income_total','DAYS_BIRTH', 'DAYS_EMPLOYED','begin_month']
train_continuos = train[continuos_variable]
test_continuos = test[continuos_variable]
train_continuos_copy = train[continuos_variable]
test_continuos_copy = test[continuos_variable]

In [24]:
train_continuos_copy.columns

Index(['income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'begin_month'], dtype='object')

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler = scaler.fit(train_continuos)
train_continuos_scaled = scaler.transform(train_continuos)
test_continuos_scaled = scaler.transform(test_continuos)

train_df_continuos_scaled = pd.DataFrame(train_continuos_scaled, columns=train_continuos_copy.columns, index=list(train_continuos_copy.index.values))
test_df_continuos_scaled = pd.DataFrame(test_continuos_scaled, columns=test_continuos_copy.columns, index=list(test_continuos_copy.index.values))

In [26]:
train_df_continuos_scaled

       income_total  DAYS_BIRTH  DAYS_EMPLOYED  begin_month
0          0.149136    0.490075      -0.463930     1.215231
1          0.590848    1.089621      -0.440878     1.275620
2          2.578550   -0.744719      -0.461929     0.249003
3          0.149136    0.207081      -0.444893    -0.656836
4         -0.292575    0.219220      -0.444988     0.007446
...             ...         ...            ...          ...
26452      0.369992    0.923252      -0.444108     1.456788
26453     -0.071719    0.158765      -0.447679    -1.260729
26454      1.032559    1.398558      -0.444333     0.067835
26455     -0.160062    1.383563      -0.430454    -1.985400
26456     -1.043485   -0.859440      -0.437045     1.034063

[26457 rows x 4 columns]

In [27]:
train = train.drop(columns=continuos_variable)
test = test.drop(columns=continuos_variable)
train = pd.concat([train,train_df_continuos_scaled], axis = 1)
test = pd.concat([test,test_df_continuos_scaled], axis = 1)

In [28]:
train

       reality  income_type  occyp_type  ...  DAYS_BIRTH  DAYS_EMPLOYED  begin_month
0            0            0           7  ...    0.490075      -0.463930     1.215231
1            1            0           2  ...    1.089621      -0.440878     1.275620
2            1            4           3  ...   -0.744719      -0.461929     0.249003
3            1            0           5  ...    0.207081      -0.444893    -0.656836
4            1            2           3  ...    0.219220      -0.444988     0.007446
...        ...          ...         ...  ...         ...            ...          ...
26452        0            2           0  ...    0.923252      -0.444108     1.456788
26453        1            4           7  ...    0.158765      -0.447679    -1.260729
26454        0            4           0  ...    1.398558      -0.444333     0.067835
26455        1            4           2  ...    1.383563      -0.430454    -1.985400
26456        0            4           5  ...   -0.859440      -0.437045     1.034063

[26457 rows x 8 columns]

In [29]:
test

      reality  income_type  occyp_type  ...  DAYS_BIRTH  DAYS_EMPLOYED  begin_month
0           0            1           4  ...   -1.435662       2.227162    -2.045789
1           1            2           0  ...   -0.715444      -0.492750    -0.596447
2           1            4           2  ...    0.016912      -0.431254    -0.838004
3           0            0           1  ...   -0.788275      -0.448087    -0.898393
4           1            2           3  ...   -0.443637      -0.497944     1.094452
...       ...          ...         ...  ...         ...            ...          ...
9995        1            4           6  ...   -0.627143      -0.469204     0.430170
9996        1            4           2  ...    1.207198      -0.439241    -0.475668
9997        1            4           6  ...   -1.203840      -0.531645    -1.743843
9998        0            0           7  ...   -0.138747      -0.437568    -0.415279
9999        1            4           2  ...    1.619431      -0.431036     0.913284

[10000 rows x 7 columns]

In [30]:
train = train.reindex(['reality',	'income_total',	'income_type',	'DAYS_BIRTH',	'DAYS_EMPLOYED',	'occyp_type',	'begin_month', 	'credit'], axis=1)
test = test.reindex(['reality',	'income_total',	'income_type',	'DAYS_BIRTH',	'DAYS_EMPLOYED',	'occyp_type',	'begin_month'], axis=1)

In [31]:
train

       reality  income_total  income_type  ...  occyp_type  begin_month  credit
0            0      0.149136            0  ...           7     1.215231     1.0
1            1      0.590848            0  ...           2     1.275620     1.0
2            1      2.578550            4  ...           3     0.249003     2.0
3            1      0.149136            0  ...           5    -0.656836     0.0
4            1     -0.292575            2  ...           3     0.007446     2.0
...        ...           ...          ...  ...         ...          ...     ...
26452        0      0.369992            2  ...           0     1.456788     1.0
26453        1     -0.071719            4  ...           7    -1.260729     2.0
26454        0      1.032559            4  ...           0     0.067835     2.0
26455        1     -0.160062            4  ...           2    -1.985400     2.0
26456        0     -1.043485            4  ...           5     1.034063     2.0

[26457 rows x 8 columns]

In [32]:
test

      reality  income_total  ...  occyp_type  begin_month
0           0     -0.734287  ...           4    -2.045789
1           1     -0.513431  ...           0    -0.596447
2           1     -1.157623  ...           2    -0.838004
3           0     -0.734287  ...           1    -0.898393
4           1      0.369992  ...           3     1.094452
...       ...           ...  ...         ...          ...
9995        1      0.149136  ...           6     0.430170
9996        1      0.149136  ...           2    -0.475668
9997        1      1.032559  ...           6    -1.743843
9998        0     -0.071719  ...           7    -0.415279
9999        1      0.811704  ...           2     0.913284

[10000 rows x 7 columns]

In [33]:
X=train.drop('credit',axis=1)
y=train['credit']

In [37]:
def objective(trial,train=train,target=y):

  X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

  param={
      'max_depth':trial.suggest_int('max_depth',25,30),
      'learning_rate':0.03,
      'subsample':trial.suggest_categorical('subsample',[0.5,0.6,0.7,0.8,0.9]),
      'colsample_bytree':trial.suggest_categorical('colsample_bytree',[0.5,0.6,0.7,0.8,0.9]),
      'eval_metric': 'mlogloss',
      'objective' : 'multi:softprob',
      'random_state': 42,
      'n_estimators': 1000,
  }

  model=XGBClassifier(**param)

  model.fit(X_train,y_train,eval_set=[(X_test,y_test)],early_stopping_rounds=30,verbose=False)

  predictions=model.predict_proba(X_test)

  logloss = log_loss(y_test,predictions)
  return logloss

In [38]:
study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=50)
study.best_params

[I 2021-05-26 01:04:27,515] A new study created in memory with name: no-name-86c6f15e-417b-4999-8835-479bf38be100
[I 2021-05-26 01:04:52,828] Trial 0 finished with value: 0.7089193310428098 and parameters: {'max_depth': 26, 'subsample': 0.5, 'colsample_bytree': 0.5}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:05:17,540] Trial 1 finished with value: 0.712405888484094 and parameters: {'max_depth': 25, 'subsample': 0.6, 'colsample_bytree': 0.6}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:05:47,011] Trial 2 finished with value: 0.7239958666671893 and parameters: {'max_depth': 28, 'subsample': 0.5, 'colsample_bytree': 0.9}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:06:15,315] Trial 3 finished with value: 0.7290743253998407 and parameters: {'max_depth': 29, 'subsample': 0.8, 'colsample_bytree': 0.9}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:06:38,632] Trial 4 finished with value: 0.7114290886742323 and parameters: {'max_depth': 26, 'subsample': 0.9, 'colsample_bytree': 0.6}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:07:02,098] Trial 5 finished with value: 0.7116791748153841 and parameters: {'max_depth': 26, 'subsample': 0.8, 'colsample_bytree': 0.6}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:07:26,944] Trial 6 finished with value: 0.7176121757777573 and parameters: {'max_depth': 25, 'subsample': 0.9, 'colsample_bytree': 0.8}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:07:51,161] Trial 7 finished with value: 0.7183588552059929 and parameters: {'max_depth': 28, 'subsample': 0.9, 'colsample_bytree': 0.8}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:08:17,589] Trial 8 finished with value: 0.7171238279455846 and parameters: {'max_depth': 27, 'subsample': 0.8, 'colsample_bytree': 0.8}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:08:44,734] Trial 9 finished with value: 0.7144726089477111 and parameters: {'max_depth': 28, 'subsample': 0.6, 'colsample_bytree': 0.8}. Best is trial 0 with value: 0.7089193310428098.
[I 2021-05-26 01:09:08,728] Trial 10 finished with value: 0.7077364899036463 and parameters: {'max_depth': 30, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 10 with value: 0.7077364899036463.
[I 2021-05-26 01:09:32,717] Trial 11 finished with value: 0.7077364899036463 and parameters: {'max_depth': 30, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 10 with value: 0.7077364899036463.
[I 2021-05-26 01:09:56,781] Trial 12 finished with value: 0.7077364899036463 and parameters: {'max_depth': 30, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 10 with value: 0.7077364899036463.
[I 2021-05-26 01:10:20,779] Trial 13 finished with value: 0.7077364899036463 and parameters: {'max_depth': 30, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 10 with value: 0.7077364899036463.
[I 2021-05-26 01:10:45,913] Trial 14 finished with value: 0.7113569714586537 and parameters: {'max_depth': 30, 'subsample': 0.7, 'colsample_bytree': 0.7}. Best is trial 10 with value: 0.7077364899036463.
[I 2021-05-26 01:11:09,458] Trial 15 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:11:33,132] Trial 16 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:11:56,617] Trial 17 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:12:21,888] Trial 18 finished with value: 0.7117940981985715 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.7}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:12:45,511] Trial 19 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:13:10,671] Trial 20 finished with value: 0.707847402588755 and parameters: {'max_depth': 27, 'subsample': 0.5, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:13:34,185] Trial 21 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:13:57,777] Trial 22 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:14:20,916] Trial 23 finished with value: 0.7075758649835973 and parameters: {'max_depth': 28, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:14:44,495] Trial 24 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:15:13,074] Trial 25 finished with value: 0.7262906682700797 and parameters: {'max_depth': 28, 'subsample': 0.6, 'colsample_bytree': 0.9}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:15:39,373] Trial 26 finished with value: 0.7117940981985715 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.7}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:16:04,279] Trial 27 finished with value: 0.7076916742601058 and parameters: {'max_depth': 27, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:16:27,831] Trial 28 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:16:54,383] Trial 29 finished with value: 0.7083670115573522 and parameters: {'max_depth': 30, 'subsample': 0.5, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:17:17,617] Trial 30 finished with value: 0.7075758649835973 and parameters: {'max_depth': 28, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:17:41,266] Trial 31 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:18:04,920] Trial 32 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:18:28,458] Trial 33 finished with value: 0.7082445475724065 and parameters: {'max_depth': 29, 'subsample': 0.6, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:18:56,576] Trial 34 finished with value: 0.7262072236018814 and parameters: {'max_depth': 28, 'subsample': 0.7, 'colsample_bytree': 0.9}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:19:22,935] Trial 35 finished with value: 0.7127686530599429 and parameters: {'max_depth': 30, 'subsample': 0.5, 'colsample_bytree': 0.6}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:19:46,351] Trial 36 finished with value: 0.7074010239172099 and parameters: {'max_depth': 29, 'subsample': 0.8, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:20:10,927] Trial 37 finished with value: 0.7121062755735361 and parameters: {'max_depth': 28, 'subsample': 0.9, 'colsample_bytree': 0.6}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:20:34,533] Trial 38 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:21:03,900] Trial 39 finished with value: 0.7264861779911155 and parameters: {'max_depth': 30, 'subsample': 0.7, 'colsample_bytree': 0.9}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:21:26,852] Trial 40 finished with value: 0.7074530492673994 and parameters: {'max_depth': 28, 'subsample': 0.8, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:21:50,400] Trial 41 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:22:14,083] Trial 42 finished with value: 0.7071630836211747 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:22:36,643] Trial 43 finished with value: 0.7081654982737077 and parameters: {'max_depth': 29, 'subsample': 0.9, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:23:04,448] Trial 44 finished with value: 0.7164227078103503 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.8}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:23:28,498] Trial 45 finished with value: 0.7077364899036463 and parameters: {'max_depth': 30, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:23:51,661] Trial 46 finished with value: 0.7075758649835973 and parameters: {'max_depth': 28, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:24:15,900] Trial 47 finished with value: 0.712405888484094 and parameters: {'max_depth': 25, 'subsample': 0.6, 'colsample_bytree': 0.6}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:24:39,821] Trial 48 finished with value: 0.7077364899036463 and parameters: {'max_depth': 30, 'subsample': 0.7, 'colsample_bytree': 0.5}. Best is trial 15 with value: 0.7071630836211747.
[I 2021-05-26 01:25:05,210] Trial 49 finished with value: 0.7117940981985715 and parameters: {'max_depth': 29, 'subsample': 0.7, 'colsample_bytree': 0.7}. Best is trial 15 with value: 0.7071630836211747.

{'colsample_bytree': 0.5, 'max_depth': 29, 'subsample': 0.7}

In [39]:
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
folds=[]
for train_idx, valid_idx in skf.split(train, train['credit']):
    folds.append((train_idx, valid_idx))

In [40]:
import random
random.seed(42)
xgb_models={}
for fold in range(10):
    print(f'===================================={fold+1}============================================')
    train_idx, valid_idx = folds[fold]
    X_train, X_valid, y_train, y_valid = train.drop(['credit'],axis=1).iloc[train_idx].values, train.drop(['credit'],axis=1).iloc[valid_idx].values,\
                                         train['credit'][train_idx].values, train['credit'][valid_idx].values 
    xgb = XGBClassifier(n_estimators=1000,
                        objective='multi:softprob',
                        eval_metric='mlogloss',
                        learning_rate=0.01,
                        max_depth=29,
                        subsample=0.7,
                        colsample_bytree=0.5,
                        )
    xgb.fit(X_train, y_train, 
            eval_set=[(X_train, y_train), (X_valid, y_valid)], 
            early_stopping_rounds=100,
           verbose=100)
    xgb_models[fold]=xgb
    print(f'================================================================================\n\n')

====================================1============================================
[0]	validation_0-mlogloss:1.09197	validation_1-mlogloss:1.0935
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.731487	validation_1-mlogloss:0.829173
[200]	validation_0-mlogloss:0.567986	validation_1-mlogloss:0.737972
[300]	validation_0-mlogloss:0.47292	validation_1-mlogloss:0.700781
[400]	validation_0-mlogloss:0.410983	validation_1-mlogloss:0.685794
[500]	validation_0-mlogloss:0.366199	validation_1-mlogloss:0.679643
[600]	validation_0-mlogloss:0.329404	validation_1-mlogloss:0.678095
Stopping. Best iteration:
[599]	validation_0-mlogloss:0.330079	validation_1-mlogloss:0.678051

================================================================================


====================================2============================================
[0]	validation_0-mlogloss:1.09216	validation_1-mlogloss:1.0936
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.731112	validation_1-mlogloss:0.835296
[200]	validation_0-mlogloss:0.567156	validation_1-mlogloss:0.744513
[300]	validation_0-mlogloss:0.471031	validation_1-mlogloss:0.707369
[400]	validation_0-mlogloss:0.410421	validation_1-mlogloss:0.692445
[500]	validation_0-mlogloss:0.364271	validation_1-mlogloss:0.686088
[600]	validation_0-mlogloss:0.32772	validation_1-mlogloss:0.684622
Stopping. Best iteration:
[594]	validation_0-mlogloss:0.330011	validation_1-mlogloss:0.684445

================================================================================


====================================3============================================
[0]	validation_0-mlogloss:1.09223	validation_1-mlogloss:1.09373
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.731519	validation_1-mlogloss:0.83491
[200]	validation_0-mlogloss:0.568408	validation_1-mlogloss:0.747273
[300]	validation_0-mlogloss:0.474516	validation_1-mlogloss:0.713775
[400]	validation_0-mlogloss:0.412746	validation_1-mlogloss:0.701798
[500]	validation_0-mlogloss:0.367476	validation_1-mlogloss:0.698525
Stopping. Best iteration:
[479]	validation_0-mlogloss:0.375543	validation_1-mlogloss:0.698369

================================================================================


====================================4============================================
[0]	validation_0-mlogloss:1.09226	validation_1-mlogloss:1.09385
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.731552	validation_1-mlogloss:0.838338
[200]	validation_0-mlogloss:0.56786	validation_1-mlogloss:0.75302
[300]	validation_0-mlogloss:0.471281	validation_1-mlogloss:0.719932
[400]	validation_0-mlogloss:0.409727	validation_1-mlogloss:0.708018
[500]	validation_0-mlogloss:0.364835	validation_1-mlogloss:0.704468
[600]	validation_0-mlogloss:0.328253	validation_1-mlogloss:0.70517
Stopping. Best iteration:
[537]	validation_0-mlogloss:0.350712	validation_1-mlogloss:0.704253

================================================================================


====================================5============================================
[0]	validation_0-mlogloss:1.09228	validation_1-mlogloss:1.09385
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.73024	validation_1-mlogloss:0.836421
[200]	validation_0-mlogloss:0.565495	validation_1-mlogloss:0.750836
[300]	validation_0-mlogloss:0.469666	validation_1-mlogloss:0.719489
[400]	validation_0-mlogloss:0.408149	validation_1-mlogloss:0.708441
[500]	validation_0-mlogloss:0.362967	validation_1-mlogloss:0.705498
Stopping. Best iteration:
[498]	validation_0-mlogloss:0.363642	validation_1-mlogloss:0.705464

================================================================================


====================================6============================================
[0]	validation_0-mlogloss:1.09199	validation_1-mlogloss:1.09363
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.730111	validation_1-mlogloss:0.837397
[200]	validation_0-mlogloss:0.566634	validation_1-mlogloss:0.752122
[300]	validation_0-mlogloss:0.470226	validation_1-mlogloss:0.720581
[400]	validation_0-mlogloss:0.408455	validation_1-mlogloss:0.709571
[500]	validation_0-mlogloss:0.363715	validation_1-mlogloss:0.706989
Stopping. Best iteration:
[487]	validation_0-mlogloss:0.368753	validation_1-mlogloss:0.706895

================================================================================


====================================7============================================
[0]	validation_0-mlogloss:1.09211	validation_1-mlogloss:1.09367
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.7315	validation_1-mlogloss:0.832058
[200]	validation_0-mlogloss:0.568911	validation_1-mlogloss:0.740613
[300]	validation_0-mlogloss:0.473487	validation_1-mlogloss:0.702796
[400]	validation_0-mlogloss:0.412399	validation_1-mlogloss:0.685786
[500]	validation_0-mlogloss:0.36673	validation_1-mlogloss:0.678433
[600]	validation_0-mlogloss:0.329344	validation_1-mlogloss:0.676575
Stopping. Best iteration:
[598]	validation_0-mlogloss:0.330313	validation_1-mlogloss:0.676525

================================================================================


====================================8============================================
[0]	validation_0-mlogloss:1.09235	validation_1-mlogloss:1.09384
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.737912	validation_1-mlogloss:0.838372
[200]	validation_0-mlogloss:0.572199	validation_1-mlogloss:0.751821
[300]	validation_0-mlogloss:0.472691	validation_1-mlogloss:0.717617
[400]	validation_0-mlogloss:0.408213	validation_1-mlogloss:0.70544
[500]	validation_0-mlogloss:0.360995	validation_1-mlogloss:0.702739
[600]	validation_0-mlogloss:0.322813	validation_1-mlogloss:0.704967
Stopping. Best iteration:
[516]	validation_0-mlogloss:0.354486	validation_1-mlogloss:0.702591

================================================================================


====================================9============================================
[0]	validation_0-mlogloss:1.09236	validation_1-mlogloss:1.0938
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.737464	validation_1-mlogloss:0.839849
[200]	validation_0-mlogloss:0.571995	validation_1-mlogloss:0.755629
[300]	validation_0-mlogloss:0.473286	validation_1-mlogloss:0.723104
[400]	validation_0-mlogloss:0.408925	validation_1-mlogloss:0.711171
[500]	validation_0-mlogloss:0.361204	validation_1-mlogloss:0.709002
[600]	validation_0-mlogloss:0.323007	validation_1-mlogloss:0.711068
Stopping. Best iteration:
[520]	validation_0-mlogloss:0.353097	validation_1-mlogloss:0.708799

================================================================================


====================================10============================================
[0]	validation_0-mlogloss:1.09236	validation_1-mlogloss:1.09375
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 100 rounds.
[100]	validation_0-mlogloss:0.7394	validation_1-mlogloss:0.83616
[200]	validation_0-mlogloss:0.574483	validation_1-mlogloss:0.748658
[300]	validation_0-mlogloss:0.473693	validation_1-mlogloss:0.713961
[400]	validation_0-mlogloss:0.409389	validation_1-mlogloss:0.701468
[500]	validation_0-mlogloss:0.361349	validation_1-mlogloss:0.698791
[600]	validation_0-mlogloss:0.323726	validation_1-mlogloss:0.700768
Stopping. Best iteration:
[504]	validation_0-mlogloss:0.359365	validation_1-mlogloss:0.69867

================================================================================

In [41]:
test.rename(columns = {'reality' : 'f0','income_total' : 'f1', 'income_type' : 'f2', 'DAYS_BIRTH' : 'f3', 'DAYS_EMPLOYED' : 'f4', 'occyp_type' : 'f5', 'begin_month' : 'f6'}, inplace = True)

In [42]:
test

      f0        f1  f2        f3        f4  f5        f6
0      0 -0.734287   1 -1.435662  2.227162   4 -2.045789
1      1 -0.513431   2 -0.715444 -0.492750   0 -0.596447
2      1 -1.157623   4  0.016912 -0.431254   2 -0.838004
3      0 -0.734287   0 -0.788275 -0.448087   1 -0.898393
4      1  0.369992   2 -0.443637 -0.497944   3  1.094452
...   ..       ...  ..       ...       ...  ..       ...
9995   1  0.149136   4 -0.627143 -0.469204   6  0.430170
9996   1  0.149136   4  1.207198 -0.439241   2 -0.475668
9997   1  1.032559   4 -1.203840 -0.531645   6 -1.743843
9998   0 -0.071719   0 -0.138747 -0.437568   7 -0.415279
9999   1  0.811704   4  1.619431 -0.431036   2  0.913284

[10000 rows x 7 columns]

In [43]:
submit.iloc[:,1:]=0
for fold in range(10):
    submit.iloc[:,1:] += xgb_models[fold].predict_proba(test)/10

In [44]:
submit.to_csv('xgb_final.csv', index=False)